<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container-fluid'>
      <a class='brand' href='#'>Content Types</a>
      <div class='nav-collapse collapse'>
        <ul class='nav'>
          <!--
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          -->
        </ul>
      </div><!-- /.nav-collapse -->

      <ul class="controls">
<!--             blanco
        <a href="#" class="btn btn-ctrl-med"><i class="icon-adjust"></i></a>
        negro
        <a href="#" class="btn btn-inverse btn-ctrl-med"><i class="icon-white icon-adjust"></i></a>
-->
        <li>
          <a href="#" class="btn btn-white  btn-ctrl-med style-switch">
            <i class="icon-black icon-adjust"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>