ul
li
  list-style: none;

body 
  padding-top: 60px; padding-bottom: 40px;

.navbar

  .controls
    float: right;

.sidebar-nav
  padding: 9px 0;

.btn-ctrl
  font-size: 0; line-height: 0; padding: 0; line-height: 0;

.btn-ctrl-med
  @extend .btn-ctrl;
  padding: 5px;

.actions-column
  .well
    padding: 0; 
    .btn
      padding: 5px 5px 5px 25px; min-height: 50px; text-align: left;
      .icon-plus
        margin-left: -19px; margin-top: 10%; float:left;

.content_type-wall
  margin: 0; -moz-box-sizing: border-box; display: block;  float: left; min-height: 30px; width: 85%;
  
  .content_type-table
    margin: 10px; float: left; overflow: hidden;
    
    .header
      height: 40px; padding: 10px 0 0 10px;
      
      .title
        width: 65%; font-size: 12px; margin: 0; padding: 5px; float: left;
        
      .controls
        margin: 3px; padding: 0; float: right;
        
        li
          line-height: 0;

    .body
      padding: 5px;
      .col-mask
        height: 31px; 
        .col-header
          height: 50px;
          .field-name
            position: relative;
            .col-name
              height: 21px; margin: 3px 0;
            .field-controls
              position: absolute; z-index: 2;

        .col-header:hover
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16) inset;
.day
  padding-top: 40px;
  .content_type-wall
    margin: 0;

.grid-container
  width: 350px; height: 200px;
  
  input
    font-size: 10px; margin: 0; padding: 0 0 0 4px;

  .info
    width:29px; height:25px; float: left;

  .col-mask
    width: 294px; height: 25px; float: left; overflow: hidden;

  .col-header
    width: 400px; height: 43px; float: left; margin: 0; overflow-x: scroll;
    
    li
      width: 100px; height: 23px; float: left; margin-left: 3px;
      
      &:first-child
        margin-left: 0;
      
      .btn
        margin-left: 4px;
      
      .col-name
        width: 66px; height: 15px;

  .row-container
    float: left;

  .row-mask
    width: 26px; overflow: hidden; margin-top: 3px;

  .row-header
    @extend .grid-container .col-header;
    width: 43px; height: 80px; float: left; margin: 0; overflow-x: hidden; overflow-y: scroll;

    li
      width: 25px; margin: 3px 0 0 0; float: none;
      
      &:first-child
        margin-top: 0;

  .add-new
    width: 24px; float: left;
    
    .btn
      margin: 2px 0 3px 3px; padding: 1px;

  .grid
    width: 306px; height: 100px; margin: 2px 0 0 2px; float: left;
    
    .content
      width: 250%;
    
      .col
        width: 100px; margin: 0px; float: left;

      .field
        width: 86px; height: 15px; margin: 4px 0 0 6px;