ul,
li {
  list-style: none; }

body {
  padding-top: 60px;
  padding-bottom: 40px; }

.navbar .controls {
  float: right; }

.sidebar-nav {
  padding: 9px 0; }

.btn-ctrl, .btn-ctrl-med {
  font-size: 0;
  line-height: 0;
  padding: 0;
  line-height: 0; }

.btn-ctrl-med {
  padding: 5px; }

.content_type-table {
  margin: 10px;
  float: left;
  overflow: hidden; }
  .content_type-table .header {
    height: 25px;
    padding: 5px; }
    .content_type-table .header .title {
      width: 150px;
      font-size: 10px;
      margin: 0;
      padding: 0 0 0 4px;
      float: left; }
    .content_type-table .header .controls {
      margin: 3px;
      padding: 0;
      float: right; }
      .content_type-table .header .controls li {
        line-height: 0; }
  .content_type-table .body {
    padding: 5px; }

.grid-container {
  width: 350px;
  height: 200px; }
  .grid-container input {
    font-size: 10px;
    margin: 0;
    padding: 0 0 0 4px; }
  .grid-container .info {
    width: 29px;
    height: 25px;
    float: left; }
  .grid-container .col-mask {
    width: 294px;
    height: 25px;
    float: left;
    overflow: hidden; }
  .grid-container .col-header, .grid-container .row-header {
    width: 400px;
    height: 43px;
    float: left;
    margin: 0;
    overflow-x: scroll; }
    .grid-container .col-header li, .grid-container .row-header li {
      width: 100px;
      height: 23px;
      float: left;
      margin-left: 3px; }
      .grid-container .col-header li:first-child, .grid-container .row-header li:first-child {
        margin-left: 0; }
      .grid-container .col-header li .btn, .grid-container .row-header li .btn {
        margin-left: 4px; }
      .grid-container .col-header li .col-name, .grid-container .row-header li .col-name {
        width: 66px;
        height: 15px; }
  .grid-container .row-container {
    float: left; }
  .grid-container .row-mask {
    width: 26px;
    overflow: hidden;
    margin-top: 3px; }
  .grid-container .row-header {
    width: 43px;
    height: 80px;
    float: left;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll; }
    .grid-container .row-header li {
      width: 25px;
      margin: 3px 0 0 0;
      float: none; }
      .grid-container .row-header li:first-child {
        margin-top: 0; }
  .grid-container .add-new {
    width: 24px;
    float: left; }
    .grid-container .add-new .btn {
      margin: 2px 0 3px 3px;
      padding: 1px; }
  .grid-container .grid {
    width: 306px;
    height: 100px;
    margin: 2px 0 0 2px;
    float: left; }
    .grid-container .grid .row {
      width: 306px;
      height: 26px;
      margin: 0px; }
    .grid-container .grid .field {
      width: 86px;
      height: 15px;
      margin: 4px 0 0 6px; }
