body {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  &.night{ background: #171F26 url('../img/noise.png') repeat;}
  &.day{   background: #D5DEE5 url('../img/noise.png') repeat;}
}

.content_type-table{
  background-color: rgba(255,255,255,.02);
  box-shadow: 0 0 0 1px rgba(0,0,0,.5), inset 1px 1px 0 0 rgba(255,255,255,.1), 0 0 3px rgba(0,0,0,.5);
  border-radius: 3px;

  .header {
    background-color: rgba(255,255,255,.05);
    box-shadow: inset 0 -1px 0 0 rgba(255,255,255,.1), inset 0 -2px 0 0 rgba(0,0,0,.5);

    .title{

    }

  }

  .body {

  }

}

.grid-container {

  input{

  }

  .info {

  }

  .col-header {
    li {
      box-shadow: inset 0 1px 0 0 rgba(0,0,0,.8),1px 1px 0 0 rgba(255,255,255,.1), inset 0 0 4px rgba(0,0,0,.8);    
      border-radius: 3px;
      .col-name {

      }
    }
  }

  .row-header{
    @extend .col-header;
    li{
      // border-radius: 3px 0 0 3px;
    }
  }

  .add-new {
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.8),1px 1px 0 0 rgba(255,255,255,.1), inset 0 0 4px rgba(0,0,0,.8);    
    border-radius: 3px;
  }

  .grid {
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.8),1px 1px 0 0 rgba(255,255,255,.1), inset 0 0 4px rgba(0,0,0,.8);    
    border-radius: 3px;

    .row {
      box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.05);
    }
  }

}