<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">
      <div class="row-fluid">

        <div class="span2">
          <img src="img/app-shuttle-logo.png" class="app-shuttle-logo">
        </div> 

        <div class="span10">
          
          <div class="hero-unit">
            <h1>App Shuttle</h1>
            <p>
              Work in progress
            </p>
            <p>
              <?- link_to('content-type', '/content-type', {class: 'btn btn-primary btn-large'}) ?>
            </p>
          
          </div>
        </div>

      </div>
    </div>  
  </div>

  <hr>

  <footer>
    <p>&copy; App Shuttle</p>
  </footer>

</div>

