<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">
      <div class="row-fluid">

        <div class="span10">
          
          <div class="hero-unit">
            <h1>App Shuttle</h1>
            <p>
              This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p>
              <%- link_to('content-type', '/content-type', {class: 'btn btn-primary btn-large'}) %>
              <!-- <a class="btn btn-primary btn-large" href="">Learn more &raquo;</a> -->
            </p>
          
          </div>
        </div>

        <div class="span2">
          <img src="img/app-shuttle-logo.png" class="app-shuttle-logo">
        </div>        

      </div>
    </div>  
  </div>

  <hr>

  <footer>
    <p>&copy; App Shuttle</p>
  </footer>

</div>

