<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span3 actions-column'>
      <div class='well'>
        <a class='btn btn-success btn-small add-content' href='#'>
          <i class='icon-plus'></i>
          Add content_type
        </a>
        <a class='btn btn-success btn-small add-content' href='#'>
          <i class='icon-plus'></i>
          Add content_type
        </a>
      </div>
      <!-- /.well -->
    </div>
    <!-- /span -->
    <div class='span9 content_type-wall'>
      

      <!-- *********  DUMMY CONTENT TYPE ******** -->
        
            <div class="body">
              
              <div class="grid-container clearfix">

                <div class="info">
                  
                </div>

                <div class="col-mask">
                  <ul class="col-header ">
                    <li class="field-name">
                      <a href="#" class="btn btn-info btn-ctrl"><i class="icon-white icon-cog"></i></a>
                      <input class="col-name" type="text" placeholder="Field name">
                      <div class="field-controls">
                        <form class="form-horizontal">
                          <div class="pointer position-top">
                            <div class="pointer-bg position-top"></div>
                          </div>
                          <div class="tab initial active">
                            <h1 class="control-group">Title</h1>
                            
                            <span class="control-name">Name</span>
                            <input type="text" placeholder="text value" />
                            
                            <span class="control-name">Name</span>
                            <input type="checkbox" />
                            
                            <span class="control-name">Name</span>
                            <select>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                            </select>

                          </div>
                          <div class="tab subsequent">
                            <h1 class="control-group">Title</h1>
                            <span class="control-name">Name</span>
                            <button class="btn-danger">Button</button>
                            <span class="control-name">Name</span>
                            <input type="checkbox" />
                            <input type="text" />
                          </div>
                        </form>
                        <div class="form-actions">
                          <button type="submit" class="btn btn-primary">Save changes</button>
                          <button type="button" class="btn">Cancel</button>
                        </div>
                      </div>
                    </li>
                    <li class="field-name">
                      <a href="#" class="btn btn-info btn-ctrl"><i class="icon-white icon-cog"></i></a>
                      <input class="col-name" type="text" placeholder="Field name">
                    </li>
                    <li class="field-name">
                      <a href="#" class="btn btn-info btn-ctrl"><i class="icon-white icon-cog"></i></a>
                      <input class="col-name" type="text" placeholder="Field name">
                    </li>
                  </ul>
                </div>
                <div class="add-new">
                  <a href="#" class="btn btn-success btn-ctrl"><i class="icon-white icon-plus-sign"></i></a>
                </div>

                <div class="clearfix"></div>

                <div class="row-container">
                  <div class="row-mask">
                    <ul class="row-header">
                      <li class="action-column-button">
                        <a href="#" class="btn btn-danger btn-ctrl"><i class="icon-white icon-remove-sign"></i></a>
                      </li>
                      <li class="action-column-button">
                        <a href="#" class="btn btn-danger btn-ctrl"><i class="icon-white icon-remove-sign"></i></a>
                      </li>
                      <li class="action-column-button">
                        <a href="#" class="btn btn-danger btn-ctrl"><i class="icon-white icon-remove-sign"></i></a>
                      </li>
                    </ul>
                  </div>

                  <div class="add-new">
                    <a href="#" class="btn btn-success btn-ctrl"><i class="icon-white icon-plus-sign"></i></a>
                  </div>
                </div>

                <div class="grid nano">
                  <div class="content">
                    <div class="col">
                      <input class="field" type="text" placeholder="Value">
                      <input class="field" type="text" placeholder="Value">
                      <input class="field" type="text" placeholder="Value">
                    </div>
                    <div class="col">
                      <input class="field" type="text" placeholder="Value">
                      <input class="field" type="text" placeholder="Value">
                      <input class="field" type="text" placeholder="Value">
                    </div>
                    <div class="col">
                      <input class="field" type="text" placeholder="Value">
                      <input class="field" type="text" placeholder="Value">
                      <input class="field" type="text" placeholder="Value">
                    </div>
                  </div>
                </div>

              </div> <!-- .grid-container -->

            </div>

          </div>
        
      <!-- *********  DUMMY CONTENT TYPE ******** -->



    </div>
    <!-- /span -->
  </div>
  <!-- /row -->
</div>
<!-- /.fluid-container -->

<script type="text/html" class="content_type-template">
  <div class="content_type-table">
    
    <div class="header">
      <input class="title" type="text" placeholder="Name">
      
      <ul class="controls">
        <li>
          <a href="#" class="btn btn-danger btn-ctrl">
            <i class="icon-white icon-remove"></i>
          </a>
        </li>
      </ul>

    </div>

    <div class="body">
      
      <!-- pilon-grid-template -->

    </div>
  </div>
</script>

<?- partial('content-type/pilonGridTemplates') ?>
