<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span2'>
      <div class='well'>
        <a class='btn btn-success btn-small' href='#'>
          Add content_type
          <i class='icon-white icon-plus'></i>
        </a>
      </div>
      <!-- /.well -->
    </div>
    <!-- /span -->
    <div class='span10 content_type-wall'>
      

      <!-- *********  DUMMY CONTENT TYPE ******** -->
        

        
      <!-- *********  DUMMY CONTENT TYPE ******** -->



    </div>
    <!-- /span -->
  </div>
  <!-- /row -->
</div>
<!-- /.fluid-container -->

<script type="text/html" class="content_type-template">
  <div class="content_type-table">
    
    <div class="header">
      <input class="title" type="text" placeholder="Name">
      
      <ul class="controls">
        <li>
          <a href="#" class="btn btn-danger btn-ctrl"><i class="icon-white icon-remove"></i></a>
        </li>
      </ul>

    </div>

    <div class="body">
      
      <!-- pilon-grid-template -->

    </div>
  </div>
</script>

<%- partial('content-type/pilonGridTemplates') %>