<% js('content-types/ContentTypesWallClass') %>
<% js('content-types/ContentTypeClass') %>
<% js('content-types/GridEditorClass') %>
<% js('content-types/content-type-main') %>

<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span2'>
      <div class='well'>
        <a class='btn btn-success btn-small' href='#'>
          Add content_type
          <i class='icon-white icon-plus'></i>
        </a>
      </div>
      <!-- /.well -->
    </div>
    <!-- /span -->
    <div class='span10 content_type-wall'></div>
    <!-- /span -->
  </div>
  <!-- /row -->
</div>
<!-- /.fluid-container -->

<%- partial('content-type/pilonGridTemplates') %>