<div class="pilon-grid-template hidden">
  
  <script type="text/html" class="pilon-cont-template">
    <div class="grid-container clearfix">

      <div class="info">
        
      </div>

      <div class="col-mask">
        <ul class="col-header ">

          <!-- pilon-col-header-template -->

        </ul>
      </div>

      <div class="add-new">
        <a href="#" class="btn btn-success btn-ctrl"><i class="icon-white icon-plus-sign"></i></a>
      </div>

      <div class="clearfix"></div>

      <div class="row-container">
        <div class="row-mask">
          <ul class="row-header">

            <!-- pilon-col-header-template -->

          </ul>
        </div>

        <div class="add-new">
          <a href="#" class="btn btn-success btn-ctrl"><i class="icon-white icon-plus-sign"></i></a>
        </div>
      </div>

      <div class="grid nano">
        <div class="content">
          
          <!-- pilon-row-template-->
            <!-- pilon-row-field-template-->
          
        </div>
      </div>

    </div>
  </script>

  <script type="text/html" class="pilon-col-header-template">
    <li>
      <a href="#" class="btn btn-info btn-ctrl"><i class="icon-white icon-cog"></i></a>
      <input class="col-name" type="text" placeholder="Field name">
    </li>
  </script>

  <script type="text/html" class="pilon-row-header-template">
    <li>
      <a href="#" class="btn btn-danger btn-ctrl"><i class="icon-white icon-remove-sign"></i></a>
    </li>
  </script>

  <script type="text/html" class="pilon-row-template">
    <div class="row"></div>
  </script>

  <script type="text/html" class="pilon-row-field-template">
    <input class="field" type="text" placeholder="Value">
  </script>

</div>